<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <title>Python Webshop</title>

    <!-- Bootstrap -->	
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Plugins -->
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-select.css') }}" rel="stylesheet">   
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
	 <link href="{{ url_for('static', filename='css/owl.carousel.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/owl.theme.css') }}" rel="stylesheet">
	
    
  </head>
  <body>

    <!-- Top Header -->    
      <div class="container">
        <div class="row">
			<div class="col-xs-12 text-center">			
			<i style="font-size:348px;padding-top:25px;" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
			<h1 style="font-size:48px;"> 401 </h1>
			<p style="font-size:28px;">Access Denied!</p>
			<p style="font-size:20px;">You are not allowed here!</p>
            </div>
        </div>
      </div>      
    
    <!-- End Footer -->

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <!-- Plugins -->
    <script src="{{ url_for('static', filename='js/bootstrap-select.js') }}"></script>
	<script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>    
	<script src="{{ url_for('static', filename='js/jquery.ez-plus.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.bootstrap-touchspin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.raty-fa.js') }}"></script>
	<script src="{{ url_for('static', filename='js/mimity.js') }}"></script>
	<script src="{{ url_for('static', filename='js/mimity.detail.js') }}"></script>
    
	
  </body>
</html>