{% extends "layout.html" %}
{% block content %}
<!-- Main Content -->
    <div class="container m-t-3">
      <div class="row">

        <!-- Shopping Cart List -->
        <div class="col-md-12">
          <div class="title"><span>My Shopping Cart</span></div>
		  {% if not rows %}
		  <p style="margin-bottom: 50px;"><strong>Your cart is empty!</strong></p>
		  {% else %}
          <div class="table-responsive">			
            <table class="table table-bordered table-cart">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Description</th>
                  <th>Quantity</th>
                  <th>Unit price</th>
                  <th>SubTotal</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
				{% for item in rows %}
                <tr>
                  <td class="img-cart">
                    <a href="detail.html">
                      <img alt="Product" src="{{ url_for('static', filename='img/product/'+item.item_img) }}" class="img-thumbnail">
                    </a>
                  </td>
                  <td>
                    <p><a href="detail.html" class="d-block">{{ item.item }}</a></p>
                    <small>Size : {% filter upper %}{{ item.size }}{% endfilter %}</small>
                  </td>
                  <td class="unit">{{ item.quantity }}</td>
                  <td class="unit">&pound;{{ item.price }}</td>
                  <td class="sub">&pound;{{item.total}}</td>
                  <td class="action">                    
                    <a href="{{ url_for('delete', id = item.ID ) }}" class="text-danger" data-toggle="tooltip" data-placement="top" data-original-title="Remove"><i class="fa fa-trash-o"></i></a>
                  </td>
                </tr>
				<p>Total:{{ z_total }} </p>
				{% endfor %}
				{% endif %}
              </tbody>
            </table>
			
          </div>
          <nav aria-label="Shopping Cart Next Navigation">
            <ul class="pager">
              <li class="previous"><a href="products.html"><span aria-hidden="true">&larr;</span> Continue Shopping</a></li>
              <li class="next"><a href="checkout.html">Proceed to Checkout <span aria-hidden="true">&rarr;</span></a></li>
            </ul>
          </nav>
        </div>
        <!-- End Shopping Cart List -->      </div>
    </div>
    <!-- End Main Content -->
{% endblock %}