{% extends "layout.html" %}
{% block content %}
<!-- Main Content -->
    <div class="container m-t-3">
      <div class="row">

        <!-- Register Form -->
        <div class="col-sm-8 login-register-form m-b-3">
          <div class="title"><span>Create An Account</span></div>
          <div class="row">
            <form>
              <div class="form-group col-sm-6">
                <label for="firstname">First Name</label>
                <input type="text" class="form-control" id="firstname" placeholder="First name">
              </div>
			  <div class="form-group col-sm-6">
                <label for="surname">Surname</label>
                <input type="text" class="form-control" id="surname" placeholder="Surname">
              </div>
              <div class="form-group col-sm-6">
                <label for="emailInput">Email address</label>
                <input type="email" class="form-control" id="emailInput" placeholder="Email">
              </div>
              <div class="form-group col-sm-6">
                <label for="passwordInput">Password</label>
                <input type="password" class="form-control" id="passwordInput" placeholder="Password">
              </div>
			  <div class="form-group col-sm-6">
                <label for="town">Town</label>
                <input type="password" class="form-control" id="town" placeholder="Town">
              </div>
			  <div class="form-group col-sm-6">
                <label for="postcode">Postcode</label>
                <input type="postcode" class="form-control" id="postcode" placeholder="Postcode">
              </div>
			  <div class="form-group col-sm-6">
                <label for="address1">Address line 1</label>
                <input type="address1" class="form-control" id="address1" placeholder="Address line 1">
              </div>
			  <div class="form-group col-sm-6">
                <label for="address2">Address line 2</label>
                <input type="address2" class="form-control" id="address2" placeholder="Address line 2">
              </div>             
              <div class="col-xs-12">
                <button type="submit" class="btn btn-theme"><i class="fa fa-long-arrow-right"></i> Register</button>
              </div>
            </form>
          </div>
        </div>
        <!-- End Register Form -->

        <!-- Login Form -->
        <div class="col-sm-4">
          <div class="title"><span>Already Registered ?</span></div>                      
            <a href="{{ url_for('login') }}" type="submit" class="btn btn-theme"><i class="fa fa-long-arrow-right"></i> Login</a>          
        </div>
        <!-- End Login Form -->

      </div>
    </div>
    <!-- End Main Content -->
 {% endblock %}  